<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iquantex.com.dolphinscheduler.mapper.ResourceMapper">

    <select id="getDatasourceIdByName" resultType="java.lang.Integer">
        select id
        from t_ds_datasource
        where name='${name}'
    </select>

</mapper>